<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#8fbc8f">
    <meta name="theme-color" content="#8fbc8f">
    {% block styles %}
        <link rel="manifest" href="{{ url_for('static', filename="manifest.json") }}" crossorigin="use-credentials">

        <link rel="icon" type="image/png" sizes="192x192"
              href="{{ url_for('static', filename="images/icons/android-chrome-192x192.png") }}">
        <link rel="icon" type="image/png" sizes="512x512"
              href="{{ url_for('static', filename="images/icons/android-chrome-512x512.png") }}">
        <link rel="mask-icon" color="#000"
              href="{{ url_for('static',filename='images/icons/safari-pinned-tab.svg')}}">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{ url_for('static', filename='images/icons/apple-touch-icon.png')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ url_for('static', filename='images/icons/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ url_for('static', filename='images/icons/favicon-32x32.png') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">
    {% endblock %}

    <title>
        {% block title %}
            {% if title %}The Gab/Duel Folks - {{ title }}{% else %}The Gab/Duel Folks{% endif %}
        {% endblock %}
    </title>
</head>

<body class="mb-n4">

{% block content %}
    <div class="row g-0">
        {% include 'extra/navbar.html' %}
        {% include 'extra/messages.html' %}
    </div>
        <div class='col-12 col-md scroll-container overflow-visible'>
        <div class="row container-fluid">
            <div class="col col-2 d-none d-md-block">
                {% include 'extra/sidenav.html' %}
            </div>
            <div id="maincontent" class="col-md-10 main-content">
                {% block app_content %}
                    {# application content in the app_content block #}
                {% endblock %}
                <div class="position-fixed bottom-0 end-0 p-3">
                </div>
                <div class="spacer my-0"></div>
            </div>
        </div>

        </div>

        {% block footer %}
            <footer class="footer text-center m-auto" style="font-size:small; vertical-align: middle;">
                <div class="container mb-2 mt-0" style="line-height:normal;"><br>
                    <span class="e-font">
          Created & Designed by Zach Neill
                    </span>
                </div>
            </footer>
        {% endblock %}
    </div>

{% endblock %}

</body>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

{% endblock %}

</html>