<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid m-0 p-0">
        <img src="{{ url_for('static', filename='images/art/brand_logo.png') }}" alt="logo"
             class="mt-0 pt-0 h-auto" style="max-width:60px">
        <a class="navbar-brand" href="/home">
            <span class="d-none d-md-inline-block">Folks Gab/Duel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post">Create a Post</a>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-none d-md-block float-end me-3">
            <div>
                {% include "extra/searchBar.html" %}
            </div>
        </div>
    </div>
</nav>