body {
    background-color: #8fbc8f;
}
.indent {
    text-indent: 25px;
}
.pagination > li > a {
    color: white;
    background-color: #212529;
    border: none;
}
.pagination > .active > a {
    color: #212529;
    background-color: white;
    border: none;
}
.image {
    max-width: 200px;
    max-height: 200px;
}
.image-sm {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.image-xs {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
}
.supported {
    border: 0.2rem solid darkgreen;
}
.pointer_to_hand {
    cursor: pointer;
}