<div class="row row-cols-auto justify-content-center g-4 text-center">
    {% for post in pages %}
        <div class="col">
            <div class="card text-white bg-dark rounded-5">
                <div class="card-body">
                    <div class="card-header p-0 text-muted">
                        <div class="text-white px-2 d-flex justify-content-center">
                            <div class="mx-2 p-1 d-none d-md-block">
                                <a href="/profile/{{ post.authors[0].username }}" class="text-decoration-none link-light">
                                    <p class="m-0 p-0" id="author1_FN_{{ post.id }}">{{ post.authors[0].firstName }} </p>
                                    <p class="m-0 p-0" id="author1_LN_{{ post.id }}"> {{ post.authors[0].lastName }}</p>
                                </a>
                            </div>
                            <a href="/profile/{{ post.authors[0].username }}">
                                <img src="{{ post.authors[0].image if post.authors[0].image.startswith("https://")
                                else post.authors[0].image }}" class="image-sm w-100 h-100
                                     {{ 'supported' if post.id in supportedPostIds and
                                     post.authors[0].id==supportedPosts[post.id]}}
                                     {{ "opacity-50" if post.id in supportedPostIds and
                                     post.authors[1].id==supportedPosts[post.id] }}"
                                     id="avatar_{{ post.authors[0].id }}"
                                     alt="avatar_{{ post.authors[0].id }}">
                            </a>
                            <div class="text-white d-flex justify-content-center text-center mx-2">
                                {% set image = 'fireball.png' if post.type == "duel" else 'star.png' %}
                                {% for i in range(post.intensity) %}
                                    <img src="{{ url_for('static',
                                    filename='images/art/'+image) }}"
                                         alt="star" class="image-xs">
                                {% endfor %}
                            </div>
                            <a href="/profile/{{ post.authors[1].username }}">
                                <img src="{{ post.authors[1].image if post.authors[1].image.startswith("https://")
                                else post.authors[1].image }}" class="image-sm w-100 h-100
                                     {{ 'supported' if post.id in supportedPostIds and
                                     post.authors[1].id==supportedPosts[post.id] }}
                                     {{ "opacity-50" if post.id in supportedPostIds and
                                     post.authors[0].id==supportedPosts[post.id] }}"
                                     id="avatar_{{ post.authors[1].id }}"
                                     alt="avatar_{{ post.authors[1].id }}">
                            </a>
                            <div class="mx-2 p-1 d-none d-md-block">
                                <a href="/profile/{{ post.authors[1].username }}" class="text-decoration-none link-light">
                                    <p class="m-0 p-0 text" id="author2_FN_{{ post.id }}">
                                        {{ post.authors[1].firstName }}
                                    </p>
                                    <p class="m-0 p-0"> {{ post.authors[1].lastName }}</p>
                                </a>
                            </div>
                        </div>
                        <p class="text-white">{{ post.date.strftime('%m/%d/%Y') }}</p>
                    </div>

                    <h3 class="card-title" id="title_{{ post.id }}">{{ post.title }}</h3>
                    <p class="card-text text-start indent" id="content_{{ post.id }}">{{ post.content }}</p>
                    <br>
                    {% if current_user.is_authenticated and current_user not in post.authors %}
                        <button type="button" class="btn btn-success float-start m-1"
                                data-author1_id="{{ post.authors[0].id }}"
                                data-author2_id="{{ post.authors[1].id }}"
                                onclick="support({{ post.authors[0].id }}, {{ post.authors[1].id }}, {{ post.id }})"
                                id="support_{{ post.id }}">Support {{ post.authors[0].firstName }}
                        </button>
                        <button type="button" class="btn btn-secondary float-start m-1"
                                data-author1_id="{{ post.authors[0].id }}"
                                data-author2_id="{{ post.authors[1].id }}"
                                onclick="support({{ post.authors[1].id }}, {{ post.authors[0].id }}, {{ post.id }})"
                                id="support_{{ post.id }}">Support {{ post.authors[1].firstName }}
                        </button>
                    {% endif %}
                    <div class="float-end">
                        <a type="button" class="bg-transparent border-0 btn btn-sm m-0 p-0"
                           href="/post/{{ post.id }}">
                            <span class="fa fa-2x fa-pencil-square-o text-white
                                {{ 'd-none' if current_user not in post.authors }}"
                                  aria-hidden="true">
                            </span>
                        </a>
                        <button type="button" onclick="deletePost({{ post.id }})"
                                class="bg-transparent border-0 btn btn-sm mt-0 pt-0
                                {{ 'd-none' if current_user not in post.authors}}" id="deleteButton">
                            <span class="fa fa-2x fa-trash-o text-white
                                {{ 'd-none' if current_user not in post.authors }}"
                                  aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    {% endfor %}
</div>
{% if pages.items is defined and pages.items and pages %}
    <nav aria-label="Page navigation">
        <ul class="my-3 pagination justify-content-center">
            <li class="page-item d-none d-md-block {{ 'disabled opacity-50' if not pages.has_prev }}">
                <a class="page-link border-0 bg-dark text-white" href="./{{ url }}?page={{ pages.prev_num }}" >Previous</a>
            </li>
            {% for page in pages.iter_pages(left_current=1, right_current=1, right_edge=1) %}
                <li class="page-item {{ 'active' if page == pages.page }}">
                    <a class="page-link border-0" href="./{{ url }}?page={{ page }}">{{ page if page else "..." }}</a>
                </li>
            {% endfor %}
            <li class="page-item d-none d-md-block {{ 'disabled opacity-50' if not pages.has_next }}">
                <a class="page-link border-0 bg-dark text-white" href='./{{ url }}?page="{{ pages.next_num }}'>Next</a>
            </li>
        </ul>
    </nav>
{% endif %}
<input type="hidden" id="csrf" value="{{ csrf_token() }}">