{% set title = "Home" %}
{% extends "base.html" %}
{% block scripts %}
  {{super()}}
{% endblock %}

{% block app_content %}
  <div class="mt-5 text-center">
    <h1>This is the Flask Blog</h1>
    <br>
    <br>
    {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{post.title}}</h3>
          <h6 class="card-subtitle mb-2 text-muted">by {{post.user.firstName}} {{post.user.lastName}} on {{post.date.strftime('%m/%d/%Y')}}</h6>
          <p class="card-text">{{post.content}} </p>
          <br>
        </div>
      </div>
    <br>
    {% endfor %}
  </div>
{% endblock %}