{% extends "base.html" %}
{% set title = "Home" %}
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}

{% block app_content %}
  <div class="mt-5 text-center">
    <h1>This is the Flask Blog</h1>
    <br>
    <br>
    {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{post.title}}
              <a href="/post/{{ post.id }}"><span class="fa fa-pencil-square-o
                {{ 'd-none' if post.author != current_user.id }}" aria-hidden="true"></span></a>
              <button onclick="deletePost({{ post.id }})" data-csrf="{{ csrf_token() }}"
                      class="bg-transparent border-0 {{ 'd-none' if post.author != current_user.id }}" id="delete">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
              </button>
          </h3>
          <h6 class="card-subtitle mb-2 text-muted">by {{post.user.firstName}} {{post.user.lastName}} on {{post.date.strftime('%m/%d/%Y')}}</h6>
          <p class="card-text">{{post.content}}</p>
          <br>
        </div>
      </div>
    <br>
    {% endfor %}
  </div>
{% endblock %}