{% extends "extra/base.html" %}
{% set title = "Login" %}
{% block scripts %}
    {{ super() }}
{% endblock %}

{% block app_content %}
    <div class="text-center w-75 m-auto">
        <h1 class="text-center e-font-bold mt-5">Log in</h1>
        <br>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.login.label(class="form-label float-start") }}
            {{ form.login(class="form-control mb-3") }}
            {{ form.password.label(class="form-label float-start") }}
            {{ form.password(class="form-control mb-3") }}
            <div class="form-check">
                {{ form.rememberMe(class="form-check-input") }}
                {{ form.rememberMe.label(class="form-check-label float-start") }}
            </div>
            {{ form.submit(class="btn btn-success") }}
        </form>
        <a class="btn btn-secondary mt-5" href="{{ url_for('auth.signup') }}">Sign Up</a>
    </div>
{% endblock %}