{% extends "extra/base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% set title = "Post" %}
{% block scripts %}
    {{ super() }}
{% endblock %}

{% block app_content %}
    <div class="mt-5 text-center">
        <h1>{{ "Update " + post.title if post else "Create a Post" }}</h1>
        <br class="mt-5 pt-5"/>
        <br class="mt-5 pt-5"/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.authors.label(class="form-label float-start") }}
            {{ form.authors(class="form-control mb-3") }}
            {{ form.title.label(class="form-label float-start") }}
            {{ form.title(class="form-control mb-3") }}
            {{ form.content.label(class="form-label float-start") }}
            {{ form.content(class="form-control mb-3") }}
            {{ form.submit(class="btn btn-success") }}

        </form>
    </div>
{% endblock %}
