{% extends "extra/base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% set title = "Search Results" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div class="mt-5 text-center">
        <h1>Search Results</h1>
        <br>
        <form class="form-inline"  method="POST">
            {{ form.hidden_tag() }}
            <div class="justify-content-center">
                <div class="form-group d-flex m-auto w-50">
                    {{ form.search(class="form-control") }}
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>
        </form>
        <br>
        <div class="row row-cols-auto justify-content-center g-4 text-center" style="">
            {% for post in pages %}
                <div class="col">
                    <div class="card text-white bg-dark">
                        <div class="card-body">
                            <div class="card-header p-0 text-muted d-flex justify-content-center">
                                <p class="text-white px-2">by {{ post.user.firstName }} {{ post.user.lastName }}
                                    on {{ post.date.strftime('%m/%d/%Y') }}
                                </p>
                                <a type="button" href="/post/{{ post.id }}">
                                    <span class="fa fa-2x fa-pencil-square-o {{ 'd-none' if post.author != current_user.id }}"
                                          aria-hidden="true">
                                    </span>
                                </a>
                                <button type="button" onclick="deletePost({{ post.id }})" data-csrf="{{ csrf_token() }}"
                                        class="bg-transparent border-0 {{ 'd-none' if post.author != current_user.id }}"
                                        id="delete">
                                    <span class="fa fa-2x fa-trash-o text-white {{ 'd-none' if post.author != current_user.id }}"
                                                 aria-hidden="true"></span>
                                </button>
                            </div>
                            <h3 class="card-title">{{ post.title }}
                            </h3>
                            <p class="card-text text-start indent">{{ post.content }}</p>
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation">
        <ul class="my-3 pagination justify-content-center">
            <li class="page-item d-none d-md-block">
                <a class="page-link border-0 bg-dark text-white {{ 'disabled' if not pages.has_prev }}"
                   href="{{ url_for("views.search", page=pages.prev_num, query=query) }}" >Previous</a>
            </li>
            {% for page in pages.iter_pages(left_current=1, right_current=2) %}
                <li class="page-item {{ 'active' if page == pages.page }}">
                    <a class="page-link border-0"
                       href="{{ url_for('views.search', page=page, query=query) }}">{{ page if page else "..." }}</a>
                </li>
            {% endfor %}
            <li class="page-item d-none d-md-block">
                <a class="page-link border-0 bg-dark text-white {{ 'disabled' if not pages.has_next }}"
                   href="{{ url_for('views.search', page=pages.next_num, query=query) }}">Next</a>
            </li>

        </ul>
        </nav>
    </div>
{% endblock %}