{% extends "extra/base.html" %}
{% set title = "Search Results" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div class="mt-5 text-center">
        <h1>Search Results</h1>
        <br>
        <form class="form-inline"  method="POST">
            {{ form.hidden_tag() }}
            <div class="justify-content-center">
                <div class="form-group d-flex m-auto w-50">
                    {{ form.search(class="form-control") }}
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>
        </form>
        <br>
    {% include "extra/postBuilder.html" %}
        <nav aria-label="Page navigation">
        <ul class="my-3 pagination justify-content-center">
            <li class="page-item d-none d-md-block">
                <a class="page-link border-0 bg-dark text-white {{ 'disabled' if not pages.has_prev }}"
                   href="{{ url_for("views.search", page=pages.prev_num, query=query) }}" >Previous</a>
            </li>
            {% for page in pages.iter_pages(left_current=1, right_current=2) %}
                <li class="page-item {{ 'active' if page == pages.page }}">
                    <a class="page-link border-0"
                       href="{{ url_for('views.search', page=page, query=query) }}">{{ page if page else "..." }}</a>
                </li>
            {% endfor %}
            <li class="page-item d-none d-md-block">
                <a class="page-link border-0 bg-dark text-white {{ 'disabled' if not pages.has_next }}"
                   href="{{ url_for('views.search', page=pages.next_num, query=query) }}">Next</a>
            </li>

        </ul>
        </nav>
    </div>
{% endblock %}